*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

body{
    background-color: #ff0000;
    font-family: 'Work Sans', sans-serif;
}
main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
header{
    text-align: center;
    margin-bottom: 20px;
}

form{
    background-color:#ffffff;
    padding: 15px;
    border-radius: 10px
}
fieldset{
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;

}



